{
  "name": "{{ agave.username }}-{{ app.name }}",
  "version": "{{ app.version }}",
  "executionType": "HPC",
  "executionSystem": "hpc-tacc-wrangler-{{ agave.username }}",
  "parallelism": "SERIAL",
  "deploymentPath": "{{ agave.username }}/apps/{{ app.bundle }}",
  "deploymentSystem": "data-sd2e-projects-users",
  "defaultProcessorsPerNode": 1,
  "defaultNodeCount": 1,
  "defaultQueue": "normal",
  "label": "{{ date_time.iso8601_micro }}",
  "modules": ["load tacc-singularity"],
  "shortDescription": "{{ app.description }}",
  "templatePath": "runner-template.sh",
  "testPath": "tester.sh",
  "inputs": [
    {
        "id": "fastq_file",
        "details": {
            "argument": "-fq",
            "description": null,
            "label": "Forward reads file of small RNAseq fastq pair",
            "repeatArgument": false,
            "showArgument": false
        },
        "semantics": {
            "fileTypes": [],
            "maxCardinality": 1,
            "minCardinality": 1,
            "ontology": [
                "http://edamontology.org/format_1930"
            ]
        },
        "value": {
            "default": " ",
            "enquote": true,
            "order": 0,
            "required": true,
            "validator": null,
            "visible": true
        }
    }
  ],
  "parameters": [
  {
    "id": "CONTAINER_IMAGE",
    "value": {
      "default": "{{ docker.organization }}/{{ docker.repo }}:{{ docker.tag }}",
      "description": "Container Image. Do not edit.",
      "type": "string",
      "visible": false,
      "required": true
    }
  },
  {
    "id": "kit_tech",
    "details": {
        "argument": "-k",
        "description": null,
        "label": "small RNAseq kit used",
        "repeatArgument": false,
        "showArgument": false
    },
    "value": {
        "default": "clonetech",
        "type": "string",
        "order": 0,
        "required": true,
        "validator": null,
        "visible": true
    }
  },
  {
    "id": "spike_index_dir",
    "details": {
        "argument": "-si",
        "description": null,
        "label": "directory containing spike-ins index files",
        "repeatArgument": false,
        "showArgument": false
    },
    "value": {
        "default": "/indices/spike_ins/spike_ins",
        "type": "string",
        "order": 0,
        "required": true,
        "validator": null,
        "visible": true
    }
   },
   {
    "id": "rna_index_dir",
    "details": {
        "argument": "-ri",
        "description": null,
        "label": "directory containing srna index files",
        "repeatArgument": false,
        "showArgument": false
    },
    "value": {
        "default": "indices/srna_seqs/srna_seqs",
        "type": "string",
        "order": 0,
        "required": true,
        "validator": null,
        "visible": true
    }
   },
   {
    "id": "threshold",
    "details": {
        "argument": "-t",
        "description": null,
        "label": "threshold for fuzzy string matching reads to gRNA target sequences",
        "repeatArgument": false,
        "showArgument": false
    },
    "value": {
        "default": 90,
        "type": "number",
        "order": 0,
        "required": true,
        "validator": null,
        "visible": true
    }
   },
  {
    "id": "output_dir",
    "details": {
      "argument": "-o",
      "description": null,
      "label": "Output directory for results",
      "repeatArgument": false,
      "showArgument": false
    },
    "value": {
        "default": "output",
        "type": "string",
        "order": 0,
        "required": true,
        "validator": null,
        "visible": true
    }
  }
  ],
  "outputs": [
  {
    "id": "spike-ins_filtered.grna-target-seqs_filtered.fastq",
    "value":{
        "default": "spike-ins_filtered.grna-target-seqs_filtered.fastq",
        "order":0,
        "required":false,
        "validator":"",
        "visible":true
    },
    "details":{
        "description":"",
        "label":"fastq file with reads removed that match gRNAs and spike-ins. For sRNA alignments.",
        "argument":null,
        "showArgument":false
    }
  },
  {
    "id": "grna-target-seqs_filtered_read_ids.txt",
    "value":{
        "default": "grna-target-seqs_filtered_read_ids.txt",
        "order":0,
        "required":false,
        "validator":"",
        "visible":true
    },
    "details":{
        "description":"",
        "label":"text file containing reads what matched to gRNA target sequences",
        "argument":null,
        "showArgument":false
    }
  },
  {
    "id": "spike-ins_filtered.fastq",
    "value":{
        "default": "spike-ins_filtered.fastq",
        "order":0,
        "required":false,
        "validator":"",
        "visible":true
    },
    "details":{
        "description":"",
        "label":"fastq file with spike-in reads removed",
        "argument":null,
        "showArgument":false
    }
  },
  {
    "id": "gRNA_counts.json",
    "value":{
        "default": "gRNA_counts.json",
        "order":0,
        "required":false,
        "validator":"",
        "visible":true
    },
    "details":{
        "description":"",
        "label":"json file containing gRNAs found in sample",
        "argument":null,
        "showArgument":false
    }
  },
  {
    "id": "spike-ins_filtered_read_ids.txt",
        "value":{
        "default": "spike-ins_filtered_read_ids.txt",
        "order":0,
        "required":false,
        "validator":"",
        "visible":true
    },
    "details":{
        "description":"",
        "label":"Text file with spike-in IDs found in sample",
        "argument":null,
        "showArgument":false
    }
  },
  {
    "id": "spike_ins.sam",
        "value":{
        "default": "spike_ins.sam",
        "order":0,
        "required":false,
        "validator":"",
        "visible":true
    },
    "details":{
        "description":"",
        "label":"SAM file",
        "argument":null,
        "showArgument":false
    }
  },
  {
    "id": "spike_ins.sorted.bam",
        "value":{
        "default": "spike_ins.sorted.sam",
        "order":0,
        "required":false,
        "validator":"",
        "visible":true
    },
    "details":{
        "description":"",
        "label":"Sorted BAM file",
        "argument":null,
        "showArgument":false
    }
  },
  {
    "id": "trim_adapt.fastq",
        "value":{
        "default": "trim_adapt.fastq",
        "order":0,
        "required":false,
        "validator":"",
        "visible":true
    },
    "details":{
        "description":"",
        "label":"Fastq file containing adapter trimmed reads",
        "argument":null,
        "showArgument":false
    }
  },
  {
    "id": "trim.fastq",
        "value":{
        "default": "trim.fastq",
        "order":0,
        "required":false,
        "validator":"",
        "visible":true
    },
    "details":{
        "description":"",
        "label":"Fastq file containing 3' and 5' trimmed reads",
        "argument":null,
        "showArgument":false
    }
  }
  ]
}
